// Font
@font-family: 'Open Sans', sans-serif;
@font-size-default: 13px;
@font-size-small: 11px;
@font-size-medium: 16px;

@font-default-space: 4px;

// Iconic font
@icon-size-default: 14px;

// Size selectors
@button-height-default: 40px;
@textbox-height-default: 40px;

@navigation-size: 160px;
@content-max-size: 768px;

// Padding's
@indent-default: 15px;
@indent-small: 10px;

// Palette
@white-color-default: #fff;
@gray-color-default: #bebebe;
@blue-color-default: #2b6279;
@green-color-default: #00c0a6;
@red-color-default: #e04043;
@black-color-default: #404040;

// Border
@border-width-default: 1px;
@border-radius-default: 4px;

// Shadow
@shadow-white: 0 1px 0 rgba(0, 0, 0, 0.4);
@shadow-substrate: 0 1px 2px rgba(0, 0, 0, 0.2);