﻿- title = "Friends";

html
    include includes/head

body.ui
    include includes/navigation
    div.page-wrapper: div.page
        div.grid-container
            div.grid-column.col-50
                div.substrate
                    h1 Inbox

                    div.list-of-users: ul
                        li
                            a(href="/"): span Ivan Ivanov

                            div.control
                                button.clear
                                    i.fa.fa-check

                                button.clear
                                    i.fa.fa-times

                        li
                            a(href="/"): span Sergey Smirnov

                            div.control
                                button.clear
                                    i.fa.fa-check

                                button.clear
                                    i.fa.fa-times

            div.grid-column.col-50
                div.substrate
                    h1 Outbox

                    div.list-of-users: ul
                        li
                            a(href="/"): span Helen Potapova

                            div.control
                                button.clear
                                    i.fa.fa-times

                        li
                            a(href="/"): span Marina Petrova

                            div.control
                                button.clear
                                    i.fa.fa-times

            div.grid-column
                div.substrate
                    h1 My Friends

                    div.list-of-users: ul
                        li
                            a(href="/"): span Vladimir Konstantinov

                            div.control
                                button.clear
                                    i.fa.fa-times
                                    span Удалить из друзей

                        li
                            a(href="/"): span Konstantin Petrov

                            div.control
                                button.clear
                                    i.fa.fa-times
                                    span Удалить из друзей