﻿- title = "Profile";

html
    include includes/head

body.ui
    include includes/navigation
    div.page-wrapper: div.page
        div.grid-container
            div.grid-column.col-60
                div.substrate
                    h1 Ivan Ivanov
                    p Username: Ivan
                    p Date of registration: 13/06/2016