// Base Class Definition
// -------------------------

.@{fa-css-prefix} {
    display: inline;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
